<?php

return [
    'locale' => 'en',
    'charset' => 'UTF-8',
    'database' => [
        'driver' => 'pdo_mysql',
        'dbname' => 'managed_content_node',
        'user' => 'root',
        'password' => '',
        'host' => 'localhost'
    ],
    'templateVariables' => [
        'charset' => 'UTF-8',
        'node' => [
            'title' => 'ManagedContentNode',
            'description' => 'Managed Content Node is simple CMS managed by API'
        ]
    ],
    'translations' => [
        ['locale' => 'ru', 'format' => 'xliff', 'resource' => __DIR__.'/../vendor/knplabs/knp-time-bundle/Knp/Bundle/TimeBundle/Resources/translations/time.ru.xliff', 'domain' => 'time'],
    ]
];