<?php

return [
    'locale' => 'ru',
    'database' => [
        'driver' => 'pdo_mysql',
        'dbname' => 'managed_content_node',
        'user' => 'root',
        'password' => '',
        'host' => 'localhost'
    ],
    'templateVariables' => [
        'node' => [
            'title' => 'ManagedContentNode'
        ]
    ]
];