<?php

return [
    'locale' => 'en',
    'charset' => 'UTF-8',
    'database' => [
        'driver' => 'pdo_mysql',
        'dbname' => 'managed_content_node',
        'user' => 'root',
        'password' => '',
        'host' => 'localhost'
    ],
    'templateVariables' => [
        'charset' => 'UTF-8',
        'node' => [
            'title' => 'ManagedContentNode',
            'description' => 'Managed Content Node is simple CMS managed by API'
        ]
    ]
];